.textarea_container {
    width: 400px;
    height: 350px;
    border: solid thin gray;
}

.textarea_container>div {
    height: 100%;
    width: 100%;
}

#textarea {
    color: black;
}

#textarea>span{
    color: gray;
}
