@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap'); /*font-family: 'Open Sans', sans-serif;*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp&display=swap");

* {box-sizing: border-box;font-family: 'Open Sans';}
section.filters{display: grid;grid-template-columns: repeat(4, 25%);margin: .5em;}
.md-field{position: relative;max-width: 250px;width: 100%;display: flex;justify-content: center;}
input:not([type="checkbox"]){border-top-left-radius: 5px;border-top-right-radius: 5px; max-width: inherit;min-width: 120px;
  display:block;border:none;border-bottom: 1px solid rgba(0,0,0,0.10);transition: border .2s;}
input{padding:24px 16px 6px;font-size: 1.15rem;}
input:hover{cursor: pointer;}
input:focus{outline:none;border-bottom: solid 2px var(--main-primary-color);}
input ~ label.has-content {font-size:.8rem;top: 8px;}
input:focus ~ label:not(has-content),input:valid ~ label.has-content,input:read-only ~ label.has-content {font-size:.8rem;top: 8px;}

label[for]{color:#999; left: 10px; margin:0;font-weight:normal;position:absolute;pointer-events:none;font-size: .85rem;
  padding: 0 8px;transition: all .2s ease-in-out; text-overflow: ellipsis; white-space: nowrap;top: 32px;}

input ~ .elements[filter]{position: absolute;visibility: hidden;width: 80%;top: 60px;background-color: #e4e4e4;border-radius: 5px;margin: 4px;
  box-shadow: 0 2px 5px -2px black;transform: scale(.2);opacity: .5;transform-origin: top;transition: all .1s;z-index: 10;}
input ~ .elements[filter][show]{visibility: visible;position: absolute;width: 95%;z-index: 10;top: 60px;transition: all .15s;
  transform: scale(1);opacity: 1;}
input ~ .elements[filter] > ul {list-style: none;padding: .5em 0px .5em 0px;margin:0px;}
.filters > .item > .element{display: flex;justify-content: space-between;padding: 8px;font-size: .85rem;}
.filters > .item{padding: 0px 8px;}
.elements > ul > .item > .element:hover {background-color: #cacaca;cursor: pointer;border-radius: 4px;}

.filterButton{display: flex;padding: .5em;justify-content: flex-end;}
