@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap'); /*font-family: 'Open Sans', sans-serif;*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp&display=swap");
* {box-sizing: border-box;}
.md-field{padding: 4px;position: relative;width: 250px;}
input{font-family: 'Open Sans', sans-serif;border-top-left-radius: 5px;
  border-top-right-radius: 5px; width: inherit;min-width: 85px;
  display:block;border:none;border-bottom: 1px solid rgba(0,0,0,0.10);transition: border .2s;}
input{padding:24px 16px 6px;font-size: 1.15rem;}
input:hover{cursor: pointer;}
input:focus{outline:none;border-bottom: solid 2px var(--main-primary-color);}
input:read-only ~ label.has-content {font-size:.8rem;top: 8px;}
input:focus ~ label:not(has-content),input:valid ~ label.has-content,input:read-only ~ label.has-content {font-size:.8rem;top: 8px;}

label[for]{color:#999; left: 4px; margin:0;font-weight:normal;position:absolute;pointer-events:none;font-size: .85rem;
  padding: 0 8px;transition: all .2s ease-in-out; text-overflow: ellipsis; white-space: nowrap;top: 32px;}

input ~ .elements[options="filters"]{visibility: hidden;background-color: gainsboro;border-radius: 5px;}
input ~ .elements[options="filters"][show]{visibility: visible;}
input ~ .elements[options="filters"] > ul {list-style: none;padding: .5em 0px .5em 0px;margin:0px;}
.elements > ul > li {margin: 5px; padding: 16px;}
.elements > ul > li:hover {background-color: grey;cursor: pointer;border-radius: 4px;}
