/* input {
  margin: .5rem;
} */

input.text {
    padding: .75rem;
    outline: none;
    border: none;
    border-bottom: solid 3px #63a19c66;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #b7b6b6;
    transition: border-bottom 100ms, box-shadow 100ms;
}

input.text:focus {
    padding: .75rem;
    border-bottom: solid 3px #63a19ccc;
    box-shadow: 0px 0px 2px .5px #4949498a;
}

form {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

form>section:nth-child(1) {
	background-color: gainsboro;
}

form>section:nth-child(2) {
	background-color: white;
}

form>section:nth-child(3) {
	background-color: var(--main-bg-color);
}

/* input search */
.input__search {
	position: relative;
	display: grid;
	align-items: center;
}

.input__search>i {
	position: absolute;
	padding: .5em;
}

.input__search>input[type="search"] {
	padding-left: 2.5em;
}
