body{display: flex;width: 100%;justify-content: center;}
table{border: none;border-collapse: collapse;width: 60%;}
table > thead{background: brown; color: white;padding: 8px;}
table > thead th:hover{}
table th, table td{transition: all 150ms;padding: 8px;}

/* table th.drag{background: rgba(10,10,10,.2);} */
table th.move-before{border-left: solid thick blue;background: rgba(10,10,10,.2);transform: scale(1.05);}
table th.move-after{border-right: solid thick green;background: rgba(10,10,10,.2);transform: scale(1.05);}
/* table th.move{opacity: .5;} */
