/* Copyright 2018 Google LLC.
SPDX-License-Identifier: Apache-2.0 */

/* CSS files add styling rules to your content */

body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
}

.container {
    display: flex;
    /* grid-template-columns: repeat(5, 1fr); */
    flex-wrap: wrap;
    background-color: lightcoral;
    align-items: center;
    gap: 10px;
    height: 350px
}

.el {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: lightseagreen;
    margin: .5em;
    cursor: move;
}

.mark {
    background-color: red;
    height: 100px;
    width: 1px;
}

.box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
    position: relative;
    height: 100px;
    width: 300px;
    left: 0px;
    transition: left 150ms;
}

.box.over {
    border: 3px dotted #666;
    left: 20px;
}

.box.diff {
    left: 20px;
}

[draggable] {
    user-select: none;
}
