@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap'); /*font-family: 'Open Sans', sans-serif;*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp&display=swap");

* {box-sizing: border-box;font-family: 'Open Sans';}

.svg-item {
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    animation: donutfade .5s;
}

@keyframes donutfade {
  /* this applies to the whole svg item wrapper */
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .svg-item {
        width: 80%;
    }
}

.donut-ring {
    stroke: #EBEBEB;
}

.donut-segment {
    transform-origin: center;
    stroke: #FF6200;
}

.donut-segment-2 {
    stroke: aqua;
    /* animation: donut1 1s; */
    /* faccio l'animazione direttamente da js  */
}

.donut-segment-3 {
    stroke: #d9e021;
    animation: donut2 3s;
}

.donut-segment-4 {
    stroke: #ed1e79;
    animation: donut3 3s;
}

.segment-1{fill:#ccc;}
.segment-2{fill:aqua;}
.segment-3{fill:#d9e021;}
.segment-4{fill:#ed1e79;}

.donut-percent {
    animation: donutfadelong 1s;
}

@keyframes donutfadelong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* @keyframes donut1 {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 90, 10;
    }
} */

@keyframes donut2 {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 30, 70;
    }
}

@keyframes donut3{
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 1, 99;
    }
}

.donut-text {
    font-family: Arial, Helvetica, sans-serif;
    fill: #FF6200;
}
.donut-text-1 {
    fill: aqua;
}
.donut-text-2 {
    fill: #d9e021;
}
.donut-text-3 {
    fill: #ed1e79;
}

.donut-label {
    font-size: 0.28em;
    font-weight: 700;
    line-height: 1;
    fill: #000;
    transform: translateY(0.25em);
}

.donut-percent {
    font-size: 0.5em;
    line-height: 1;
    transform: translateY(0.5em);
    font-weight: bold;
}

.donut-data {
    font-size: 0.12em;
    line-height: 1;
    transform: translateY(0.5em);
    text-align: center;
    text-anchor: middle;
    color:#666;
    fill: #666;
    animation: donutfadelong 1s;
}

/* ---------- */
/* just for this presentation */
html { text-align:center; }
.svg-item {
  max-width:30%;
  display:inline-block;
}


/* metric chart */
.metricChart{
  width: 350px;
  top: 30px;
  background: #e2e2e2;
  border-radius: 5px;
  box-shadow: 0px 1px 5px -2px black;
  height: 140px;
  position: relative;
  display: grid;grid-template-rows: 70% 30%;
}
.metricChart > section{
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100%;
}
.metricIcon{
  width: 95px;
  height: inherit;
}

.metricIcon > .icon{
  position: absolute;
  width: inherit;
  height: 70%;
  background: #ebd8b7;
  top: -30px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 1px 3px -2px black;
}

.metricChart > section > .data{
  height: inherit;
  display: grid;
  grid-template-rows: 40% 60%;
}

.metricChart > section .data > .metricLabel{
  color: #c6a9a3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.metricChart > section > .data > .metricValue{
  color: #9a8194;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  padding: 0 .5em;
}

.metricChart > .metricAlert{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1em;
  color: #865858;
}

.indicator{    
    max-width: 300px;
    min-height: 110px;
    margin:  .5em;
    border: solid 1px gainsboro;
    box-shadow: 0px 1px 2px 0px dimgrey;
    border-radius: 2px;
}

.indicator > .content{
    display: grid;
    grid-template-rows: 30% 70%;
    min-height: inherit;
}

.indicator > .content >.title{display: flex;align-items: center;justify-content: center;font-size: 1.3rem;}

.indicator > .content > .horizontal{display: grid; grid-template-columns: 39.5% .5% 60%;padding:  .5em;}

.indicator > .content > .horizontal > .label{display: flex;align-items: center;font-size: .9rem;color: dimgrey;}
.indicator > .content > .horizontal > .value{display: flex;align-items: center;justify-content: flex-end;padding: .2em 1em;font-size: 1.5rem;}

.indicator > .content > .horizontal > span{background-color: darkorange;}