body {
    font-size: .8rem;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "side content";
    grid-column-gap: 1em;
}

aside {
    background-color: var(--main-bg-color);
    grid-area: side;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.name {
    background-color: var(--main-fg-primary-color) !important;
    /* print-color-adjust: exact!important; */
    /* color: var(--main-fg-primary-color); */
    /* padding: unset; */
    padding: 4.5rem 2rem 2rem 1.5rem;
    /* margin: 1rem auto; */
    /* margin: .5em auto; */
    display: flex;
    align-items: left;
    /* justify-content: center; */
    font-size: 1.5rem;
    box-shadow: unset;
}

.name > p {
    padding: unset;
    margin: unset;
}

.personal-info-content {
    margin: 1rem auto;
    width: 95%;
    display: flex;
    align-items: center;
    column-gap: .5em;
}

.skill {
    display: flex;
    column-gap: 4px;
}

.rank {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #80808096;
}

.rank.fill {
    background-color: var(--main-fg-primary-color);
}

.profile-content {
    padding: .5em 1.5em;
    line-height: 1.2rem;
}

h2 {
    color: var(--main-fg-primary-color)!important;
    font-weight: 400;
    margin: .5em;
    border-bottom: solid thin lightgray;
    padding-bottom: .5rem;
}

.job > .title {
    margin-top: unset;
}

.aside-footer {
    display: none;
}

#page-break {
    break-before: page;
}
