:root {
    --main-bg-color: #eef1f2;
    --main-fg-primary-color: #6faa8a;
    --main-fg-secondary-color: #494949;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 200,
        'opsz' 24;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.material-symbols-outlined.md-48 {
    font-size: 48px;
    color: var(--main-fg-primary-color);
}

body {
    /* font-family: "Mulish", monospace; */
    font-family: "PT Sans", monospace;
    color: var(--main-fg-secondary-color);
    font-size: 1.15rem;
    margin: 0;
}

h2 {
    color: var(--main-fg-primary-color);
    font-weight: 400;
    margin: 1em;
    border-bottom: solid thin lightgray;
    padding-bottom: 1.5rem;
}

/* main {
    padding: .5em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "side content";
    grid-column-gap: 1em;
} */
@media screen and (min-width: 300px) {
    main {
        /* padding: .5em; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "side"
            "content";
        grid-column-gap: 1em;
    }
}

@media screen and (min-width: 800px) {
    main {
        /* padding: .5em; */
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "side content";
        grid-column-gap: 1em;
    }
}


.profile-content {
    padding: .5em 1.5em;
    line-height: 1.7rem;
}

.name {
    background-color: var(--main-fg-primary-color);
    color: white;
    /* height: 150px; */
    padding: 4.5rem 2rem 2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
    box-shadow: 1px 2px 4px gray;
}

aside {
    background-color: var(--main-bg-color);
    grid-area: side;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

article {
    grid-area: content;
}

/* .personal-info {
    margin: 2em auto;
} */

.personal-info-content {
    margin: 2rem auto;
    /* padding: 24px; */
    width: 90%;
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.personal-info-content.skills {
    justify-content: space-between;
}

.skill {
    display: flex;
    column-gap: .5rem;
}

.rank {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #80808096;
}

.rank.fill {
    background-color: var(--main-fg-primary-color);
}

/* .content {
    background-color: var(--main-bg-color);
} */

.job,
.training {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    grid-column-gap: .5rem;
    align-items: center;
}

.job .title {
    font-weight: bold;
    font-size: 1.2rem;
    /* padding-bottom: .5em; */
    margin-bottom: .5em;
}

.date-from,
.date-to {
    color: var(--main-fg-primary-color);
    font-weight: bold;
}

.company,
.organization {
    color: var(--main-fg-primary-color);
    display: block;
}

.aside-footer {
    background-color: var(--main-fg-primary-color);
    padding: 4.5rem 2rem 2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50% 30%;
    border-top-right-radius: 50% 30%;
    box-shadow: 1px 2px 4px gray;
}

/* @media print {
    main {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    aside .name {
        background-color: var(--main-fg-primary-color);
    }

    .profile-description {
        color: green;
        font-size: .9rem;
    }

} */
