:root {
    --main-bg-color: #1E1E1E;
    --main-fg-color: #494949;
}

* {
    box-sizing: border-box;
    font-family: "Work Sans";
    color: var(--main-fg-color);
	font-size: 1rem;
}


body {
    background-color: #e2e2e2;
    display: grid;
    height: 100vh;
    margin: 0;
    /* color: #494949; */
}

header {
    padding: 2rem;
    padding: 0 36px 0 16px;
    z-index: 1001;
    -webkit-font-smoothing: antialiased;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 8px;
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 0;
}

.nav-button {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
}

.nav-button #menu {
    display: flex;
    text-decoration: none;
    color: #3C4043;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    gap: 1rem;
    grid-template: 74px auto 1fr 64px auto / 1fr;
    grid-template-areas:
        "header"
        "nav"
        "wrapper"
        "sidebar"
        "footer";
}

nav ul {
    /* display: flex; */
    /* justify-content: space-between; */
    margin-block-start: .5rem;
    margin-block-end: .5rem;
    /* padding-inline: .5rem; */
    padding-inline: 0px;
    list-style: none;
}

.main-head {
    grid-area: header;
    background-color: var(--main-bg-color);
}

.wrapper {
    grid-area: wrapper;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    border-radius: 2px;
    /* display: grid; */
    /* grid-template-columns: repeat(12, [col-start] 1fr); */
    gap: 1em;
    z-index: 10;
    position: relative;
}

#wrapper__content {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    padding: 1em;
    overflow-y: auto;
}

.item1 {
    grid-column: col-start / span 3;
}

.item2 {
    grid-column: col-start 6 / span 4;
    grid-row: 1 / 3;
}

.item3 {
    grid-column: col-start 2 / span 2;
    grid-row: 2;
}

.item4 {
    grid-column: col-start 3 / -1;
    grid-row: 3;
}

.item5 {
    grid-column: col-start 1 / -1;
    grid-row: 4;
}

.item6 {
    grid-column: col-start 1 / -1;
    grid-row: 5;
}

.grid {
    display: grid;
    gap: 1em;
}

.row {
    gap: 1em;
    display: grid;
    /* background-color: lightgoldenrodyellow; */
    /* color: #494949; */
    grid-template-columns: repeat(12, 1fr);
    margin: 1rem;
    /* grid-template-rows: minmax(84px, auto); */
}

.row.autofit {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.row.autofill {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.row>.col {
    border: dashed thin lightgrey;
    padding: 1rem;
    display: grid;
    /* grid-auto-flow: column; */
    grid-gap: 1rem;
}

.row>.col-1 {
    grid-column: 1;
}

.row>.col-2 {
    grid-column: span 2;
}

.row>.col-3 {
    grid-column: span 3;
}

.row>.col-4 {
    grid-column: span 4;
}

.row>.col-5 {
    grid-column: span 5;
}

.row>.col-s-12 {
    grid-column: 1 / -1 ! important;
}

.row>.col-6 {
    grid-column: span 6;
}


.row>.col-7 {
    grid-column: span 7;
}

.row>.col-8 {
    grid-column: span 8;
}

.row>.col-9 {
    grid-column: span 9;
}

.row>.col-10 {
    grid-column: span 10;
}

.row>.col-11 {
    grid-column: span 11;
}

/* occupa tutta la riga */
.row>.col-12 {
    grid-column: 1 / -1;
}

/* grid con utilizzo del col-start */
/* col-start-2 */
.row>.col-start-2 {
    grid-column: 2 / -1;
}

.row>.col-start-2.col-2 {
    grid-column: 2 / span 2;
}

.row>.col-start-2.col-3 {
    grid-column: 2 / span 3;
}

.row>.col-start-2.col-4 {
    grid-column: 2 / span 4;
}

.row>.col-start-2.col-5 {
    grid-column: 2 / span 5;
}

.row>.col-start-2.col-6 {
    grid-column: 2 / span 6;
}

.row>.col-start-2.col-7 {
    grid-column: 2 / span 7;
}

.row>.col-start-2.col-8 {
    grid-column: 2 / span 8;
}

.row>.col-start-2.col-9 {
    grid-column: 2 / span 9;
}

.row>.col-start-2.col-10 {
    grid-column: 2 / span 10;
}

/* end col-start-2 */
/* col-start-3 */
.row>.col-start-3 {
    grid-column: 3 / -1;
}

.row>.col-start-3.col-2 {
    grid-column: 3 / span 2;
}

.row>.col-start-3.col-3 {
    grid-column: 3 / span 3;
}

.row>.col-start-3.col-4 {
    grid-column: 3 / span 4;
}

.row>.col-start-3.col-5 {
    grid-column: 3 / span 5;
}

.row>.col-start-3.col-6 {
    grid-column: 3 / span 6;
}

.row>.col-start-3.col-7 {
    grid-column: 3 / span 7;
}

.row>.col-start-3.col-8 {
    grid-column: 3 / span 8;
}

.row>.col-start-3.col-9 {
    grid-column: 3 / span 9;
}

/* end col-start-3 */

/* col-start-4 */
.row>.col-start-4 {
    grid-column: 4 / -1;
}

.row>.col-start-4.col-2 {
    grid-column: 4 / span 2;
}

.row>.col-start-4.col-3 {
    grid-column: 4 / span 3;
}

.row>.col-start-4.col-4 {
    grid-column: 4 / span 4;
}

.row>.col-start-4.col-5 {
    grid-column: 4 / span 5;
}

.row>.col-start-4.col-6 {
    grid-column: 4 / span 6;
}

.row>.col-start-4.col-7 {
    grid-column: 4 / span 7;
}

.row>.col-start-4.col-8 {
    grid-column: 4 / span 8;
}

/* end col-start-4 */

/* col-start-5 */
.row>.col-start-5 {
    grid-column: 5 / -1;
}

.row>.col-start-5.col-2 {
    grid-column: 5 / span 2;
}

.row>.col-start-5.col-3 {
    grid-column: 5 / span 3;
}

.row>.col-start-5.col-4 {
    grid-column: 5 / span 4;
}

.row>.col-start-5.col-5 {
    grid-column: 5 / span 5;
}

.row>.col-start-5.col-6 {
    grid-column: 5 / span 6;
}

.row>.col-start-5.col-7 {
    grid-column: 5 / span 7;
}

/* end col-start-5 */

/* col-start-6 */
.row>.col-start-6 {
    grid-column: 6 / -1;
}

.row>.col-start-6.col-2 {
    grid-column: 6 / span 2;
}

.row>.col-start-6.col-3 {
    grid-column: 6 / span 3;
}

.row>.col-start-6.col-4 {
    grid-column: 6 / span 4;
}

.row>.col-start-6.col-5 {
    grid-column: 6 / span 5;
}

.row>.col-start-6.col-6 {
    grid-column: 6 / span 6;
}

/* end col-start-6 */

/* col-start-7 */
.row>.col-start-7 {
    grid-column: 7 / -1;
}

.row>.col-start-7.col-2 {
    grid-column: 7 / span 2;
}

.row>.col-start-7.col-3 {
    grid-column: 7 / span 3;
}

.row>.col-start-7.col-4 {
    grid-column: 7 / span 4;
}

.row>.col-start-7.col-5 {
    grid-column: 7 / span 5;
}

/* end col-start-7 */

/* col-start-8 */
.row>.col-start-8 {
    grid-column: 8 / -1;
}

.row>.col-start-8.col-2 {
    grid-column: 8 / span 2;
}

.row>.col-start-8.col-3 {
    grid-column: 8 / span 3;
}

.row>.col-start-8.col-4 {
    grid-column: 8 / span 4;
}

/* end col-start-8 */

/* col-start-9 */
.row>.col-start-9 {
    grid-column: 9 / -1;
}

.row>.col-start-9.col-2 {
    grid-column: 9 / span 2;
}

.row>.col-start-9.col-3 {
    grid-column: 9 / span 3;
}

/* end col-start-9 */

/* col-start-10 */
.row>.col-start-10 {
    grid-column: 10 / -1;
}

.row>.col-start-10.col-1 {
    grid-column: 10 / span 1;
}


.row>.col-start-10.col-2 {
    grid-column: 10 / span 2;
}

.row>.col-start-10.col-3 {
    grid-column: 10 / span 3;
}

/* end col-start-10 */

/* col-start-11 */
.row>.col-start-11 {
    grid-column: 11 / -1;
}

.row>.col-start-11.col-1 {
    grid-column: 11 / span 1;
}

.row>.col-start-11.col-2 {
    grid-column: 11 / span 2;
}

/* end col-start-11 */

.row>.col-start-8.col-4 {
    grid-column: 8 / span 4;
}


/* start dalla colonna 2 e si espande per 6 colonne */
/* .row>.col-start-2.col-6 {
  grid-column: 2 / span 6;
}

.row>.col-start-3.col-3 {
  grid-column: 3 / span 3;
} */

.main-nav {
    grid-area: nav;
    transition: left 250ms;
    background-color: var(--main-bg-color);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    border-radius: 2px;
    /* width: 0px; */
    z-index: 11;
    height: 100%;
    position: absolute;
    left: -100%;
}

.main-nav.show {
    grid-area: nav;
    background-color: var(--main-bg-color);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    border-radius: 2px;
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
}

#main-nav__content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    padding: 1em;
    grid-row-gap: 1em;
}

nav ul {
    flex-direction: column;
}

.main-nav.show>#main-nav__content {
    flex-direction: column;
    position: relative;
    transition: left 250ms;
    left: 0;
    grid-row-gap: 1em;
    padding: 90px 1em 1em 1em;
}

.main-nav:not(.show)>#main-nav__content {
    position: relative;
    transition: left 250ms;
    left: -300px;
}

.side {
    grid-area: sidebar;
    background-color: white;
    /* color: white; */
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    padding: 1em;
}

.main-footer {
    grid-area: footer;
    background-color: darkgray;
    padding: 1em;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.box {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.box2 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

@media (min-width: 500px) {
    .container {
        grid-template: 74px auto 1fr auto auto / 1fr;
        grid-template-areas:
            "header  header"
            "nav     nav"
            "wrapper wrapper"
            "sidebar sidebar"
            "footer  footer";
    }

    .main-nav {
        grid-area: nav;
        transition: width 250ms;
        background-color: var(--main-bg-color);
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
        border-radius: 2px;
        width: 0px;
        z-index: 9;
        position: relative;
    }

    .main-nav.show {
        grid-area: nav;
        background-color: var(--main-bg-color);
        z-index: 11;
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
        border-radius: 2px;
        position: relative;
        height: unset;
        width: unset;
    }

    #main-nav__content {
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100%;
        padding: 1em;
        grid-row-gap: 1em;
    }

    .main-nav.show>#main-nav__content {
        flex-direction: column;
        position: relative;
        transition: left 250ms;
        left: 0;
        grid-row-gap: 1em;
        padding: 1em;
    }

    .main-nav:not(.show)>#main-nav__content {
        position: relative;
        transition: left 250ms;
        left: -300px;
    }

    .row>.col-m-12 {
        grid-column: 1 / -1 ! important;
    }

}

@media (min-width: 700px) {
    .container {
        grid-template: 74px 1fr auto / auto 1fr auto;
        grid-template-areas:
            "header header  header"
            "nav    wrapper sidebar"
            "nav    wrapper sidebar"
            "footer footer  footer";
    }

    nav ul {
        flex-direction: column;
    }

    .main-nav.show {
        grid-area: nav;
        background-color: var(--main-bg-color);
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
        border-radius: 2px;
        width: 300px;
        transition: width 250ms;
        z-index: 11;
    }

    .main-nav {
        grid-area: nav;
        transition: width 250ms;
        /* transition-delay: 70ms; */
        background-color: var(--main-bg-color);
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
        border-radius: 2px;
        width: 0px;
        z-index: 9;
        position: relative;
    }

    #main-nav__content {
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100%;
        padding: 1em;
        grid-row-gap: 1em;
    }

    .main-nav.show>#main-nav__content {
        flex-direction: column;
        position: relative;
        transition: left 250ms;
        left: 0;
        grid-row-gap: 1em;
        padding: 1em;
    }

    .main-nav:not(.show)>#main-nav__content {
        position: relative;
        transition: left 250ms;
        left: -300px;
    }

    .row>.col-l-6 {
        grid-column: span 6 ! important;
    }

    .row>.col-l-12 {
        grid-column: 1 / -1 ! important;
    }

}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    /* font-size: 0.8rem; */
    letter-spacing: 1px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}
