/* input {
  margin: .5rem;
} */

input.text {
  padding: .75rem;
  outline: none;
  border: none;
  border-bottom: solid 3px #4b4b4b66;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #494949;
  transition: border-bottom 100ms, box-shadow 100ms;
}

input.text:focus {
  padding: .75rem;
  border-bottom: solid 3px #494949;
  box-shadow: 0px 0px 2px .5px #494949;
}

form {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

form>section:nth-child(1) {
  background-color: gainsboro;
}

form>section:nth-child(2) {
  background-color: white;
}

form>section:nth-child(3) {
  background-color: var(--main-bg-color);
}
